@font-face {
	font-family: 'Barlow'; 
    src: local('Barlow'),
	    url(./fonts/Barlow-Regular.ttf); 
}
@font-face {
	font-family: 'BarlowBold'; 
    src: local('BarlowBold'),
	    url(./fonts/Barlow-Bold.ttf); 
}

html,
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: grid;
}

.header,
.footer{
    width: 100%;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.788);
    /* Barlow,"Open Sans",Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif; */
    font-family: Barlow;
}
.header { background-color: black;}
.footer { background-color: #111111;}

/* .footer { height: 403px;} */

header {
    padding: 0px, 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-right: auto;
}

.header__navLink {
    padding: 7px;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
}

.header__navLink:hover {
    color: #ffff;
    text-decoration:wavy;
}

.header__nav {
    margin-right: 25px;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.header__buttonSearchToggler {
    /* background-image: url("img/search.png"); */
    background-image: url("components/Header/header-img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 5px 7px;
    border: black;
}

.header__input {
    height: 60px;
    width: 100%;
    background-color: black; 
    border: 0;
    color: rgba(255, 255, 255, 0.788);
    outline: none;
    outline-offset: 0;
    line-height: 24px;
    font-size: 18px;
}

/* убрать стандартную кнопку закрыть в поле поиска, разные браузеры*/
.header__input::-ms-clear {display: none; width : 0; height: 0; }
.header__input::-ms-reveal {  display: none; width : 0; height: 0; }
.header__input::-webkit-search-decoration{ display: none; }
.header__input::-webkit-search-cancel-button{ display: none; }
.header__input::-webkit-search-results-button{ display: none; }
.header__input::-webkit-search-results-decoration { display: none; }

.wrapper {
    display: inline-flex;
}

.wrapper:active .header__inputBlock {
	display: flex;
}

.header__inputBlock:hover {
	display: flex;
}

.header__inputBlock {
    display: flex;
    display: none;
    position: absolute;
    left: 0%;
    top: 1px;
    width: 100%;
} 

.header__buttonSearch {
    /* background-image: url("img/search2.png"); */
    background-image: url("components/Header/header-img/search2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b81e1e;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 5px 7px;
    border: none;
}

.header__buttonCloseSearch {
    /* background-image: url("img/close.png"); */
    background-image: url("components/Header/header-img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 5px 7px;
    border: none;
}

.footer__top {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 24px;
    padding-bottom: 48px;
    padding-top: 48px;
    margin-right: 80.5px;
    margin-left: 80.5px;
    color: #FFFFFF;
}

.footer__topNav {
    flex: 0 0 10%;
    /* padding-left: 40px;
    margin-left: 0;
    list-style-type: none;
    width: 20%;
    position: relative; */
}

.footer__navHead {
    color: #666;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-right: 10px;
}

.footer__li {
    display: block;
    padding-right: 10px;
}

.footer__bottom {
    display: flex;
    justify-content: space-evenly;
    
    border-top: 1px solid #222;
    margin-right: 80.5px;
    margin-left: 80.5px;
}

.footer__info{
    display: flex;
    flex-direction: column;
}

.footer__navlang {  
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    color: #666;
}

.footer__langLinkCurrent {
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 15px;
}

.footer__timeZone {
    padding-left: 40px;
    margin-top: 6px;
}

.footer__doc {
    padding-left: 40px;
    font-size: 12px;
    color: #666;
    margin-top: 6px;
    margin-bottom: 20px;
}

.footer__logoImg {
    width: 37px;
    aspect-ratio: auto 37 / 20;
    height: 20px;
    padding-top: 5px;
}

.footer__logo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 12px;
    margin-top: 14px;
}

 .content {
    /* margin: 0px 109.5px auto; */
    margin: 0 auto;
    color: #222;
    font-family: BarlowBold;
    overflow: auto;
 }

 .content__header {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 96px;
 }

 /* .music {
   display: flexbox; 
 } */

 .music__titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
 }

 .music__titel:after {
    background: #b90000;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25px;
    margin-top: 18px;
    width: 50px;
    position: relative;
}

 .music__hotNow {
    display: flex;
    /* margin-top: 24px; */
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
 }

 .music__imgHot {
    border-radius: 50%;  /* Скругление углов изображения */
}

 .music__hotNowItem {
    /* display:inline-block; */
    padding: 0 10px;
    flex: 0 0 14.333333%;
 }

 .music__hotNowImg {
    width: 170px;
    height: 170px;
 }

 @media screen and (max-width: 1264px) {
    .music__hotNowItem {
        padding: 0 3px;
    }
    .music__hotNowImg {
        width: 140px;
        height: 140px;
        margin: 0 auto;
    }
    .music__imgHot {
        width:97%;
    }
}

 .music__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 12px;
    margin-bottom: 0px;
 }

 .music__genres {
    list-style-type: none;  
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: relative;
    padding:0;
 }

 .music__genresItem {
    font-family: Barlow;
    font-size: 12px;
    line-height: 18px;
    color: #999;
    display: inline-block;
    margin: 0;
 }
 .music__genresItem:nth-child(n+2):before {
    content: " ·";
    font-weight: 700;
    margin-right: 0.25em;
 } 

.music__tracks {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 24px;
}

.music__artist {
    font-family: Barlow;
    font-size: 14px;
}

.music__name2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
 }

.music__trackImg {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.music__trackItem {
    list-style-type: none;
    display: flex;
    height: 70px;
    /* width: auto; */
    margin-bottom: 24px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search {
    margin: 0  auto;
    margin-top: 65px
}

.search__top{
    margin: 0 38px;
}
.search__top:after {
    border-top: 1px solid #ebebeb;
    content: "";
    left: 0;
    margin-top: -1px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
}

.search__header {
    font-family: BarlowBold;
    font-size: 30px;
    margin:0;
    margin-top: 24px;
    color: #222;
    padding: 0 20px 24px;
}

.search__nav {
    padding-left: 12px;
}

.search__navItems {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search__navItem {
    font-family: Barlow,"Open Sans",Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #222;
    padding-left: 10px;
    padding-right: 12px;
    /* margin-bottom: 2px; */
}

.search__mainNavLink {
    font-family: BarlowBold;
    color: inherit;
    text-decoration: none;
}

.search__mainNavLink:after {
    color: inherit;
    text-decoration: none;
    background: #b90000;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin-top: 18px;
    width: 100%;
    position: relative;
}

.search__navLink {
    color: inherit;
    text-decoration: none;
}

.search__navLink:hover {
    text-decoration: none;
    border-bottom: 2px solid #b90000;
    padding-bottom: 19px;
}

.search_content {
    margin-left: 38px;
    padding: 24px 20px;
    width: 700px;
}

.search__inputBlock {
    display: flex;
    width: 700px;
    height: 40px;
}

.search__input {
    width: 655px;
    border-width: 2px;
    border-style: solid;
    outline: none;
    border-color: rgb(236, 233, 233);
    border-radius: 2px;
    padding: 6px 12px;
}

.search__buttonSearch {
    background-image: url("./components/Search/search-img/search_w.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-left: 0px;
    border-color: rgb(236, 233, 233);
    border-style: solid;
    cursor: pointer;
    border-radius: 2px;
}

.search__titel {
    font-family: Barlow,"Open Sans",Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
    font-size: 24px;
    font-weight: lighter;
}

.search__gridItems {
    list-style-type: none;
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    width: 700px;
    font-size: 0;
}

.seacrh__message {
    font-family: Barlow,"Open Sans",Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
    font-size: 14px;
}

.search__gridItem {
    display: inline-block;
    list-style: none;
    height: 174px;
    padding-top: 0;
    width: 174px;
    position: relative;
    vertical-align: top;
}

.search__coverItemText {
    bottom: 15px;
    font-size: 12px;
    left: 15px;
    line-height: 18px;
    margin: 0;
    position: absolute;
    right: 15px;
    text-shadow: 0 0 10px rgb(0 0 0 / 70%);
}

.search__coverItemTextMain {
    margin: 0px;
    font-family: BarlowBold,"Open Sans",Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
    font-size: 14px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.search__covers {
    color: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.search__coverItemImg {
    width: 100%;
}

.search__coverItemImg:after {
    background-image: linear-gradient(180deg,transparent 0,rgba(0,0,0,.35) 70%,rgba(0,0,0,.7));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.search__linkBlock {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-decoration: underline;
}

.search__statName{
    font-family: Barlow;
    font-size: 12px;
}

.search__singerLink {
    text-decoration: none;
    color: #fff;
    font-family: Barlow;
    font-size: 12px;
    z-index: 1;
    position: relative;
}

.search__more {
    font-size: 14px;
    margin-top: 12px;
    padding-right: 17px;
    font-family: Barlow;
    text-align: right;
    position: relative;
}

.search__moreLink {
    cursor: pointer;
    text-decoration: none;
    color: #005399;
}

.search__moreLink:before {
    background-image: url(./components/Search/search-img/morelink_before.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    height: 12px;
    left: auto;
    margin-top: -4.5px;
    position: absolute;
    right: 0;
    top: 0;
    top: 50%;
    width: 12px;
}

.search__play-button{
    border: 0px;
    padding: 15px;
    background-color: #fff;
}

.search__play-button:before {
    background-color: rgba(255, 255, 255, 0.85);
    background-image: url(./components/Search/search-img/play.png);
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: rgb(0 0 0 / 7%) 0px 0px 0px 1px;
    content: "";
    height: 32px;
    /* left: 50%; */
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    right: auto;
    /* top: 50%; */
    transition: background-color 0.1s ease 0s;
    width: 32px;
    cursor: pointer;
    opacity: 1;
}

.search__tracksTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }
  
  .search__tracksTable  tbody tr{
    border-bottom: 1px solid rgb(235, 235, 235);
    bottom: 0px;
    content: "";
    display: block;
    padding: 9px 15px;
  }
  
  .search__tracksTable tbody td:nth-child(1) {
    width: 5%;
  }
  
  .search__tracksTable tbody td:nth-child(2) {
    width: 5%;
  }
  
  .search__tracksTable tbody td:nth-child(3) {
    width: 45%;
  }
  
  .search__tracksTable tbody td:nth-child(4) {
    width: 45%;
  }

  .search__tracksTable tbody td {
    padding: 0px 9px;
    text-align: left;
  }

  .search__trackImg {
    width: 32px;
    height: 32px;
  }

.search__trackLinkSong {
    font-family: BarlowBold;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black; 
}

.search__trackLinkSinger {
    font-family: Barlow;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: black; 
}
